In [53]:
%cd UT03/pro301

[Errno 2] No such file or directory: 'UT03/pro301'
/home/jovyan/work/UT03/pro301

In [54]:
import pandas as pd
import json

In [ ]:
df_norte = pd.read_csv("./ventas_norte.csv",sep=";")
df_sur = pd.read_excel("./ventas_sur.xlsx", sheet_name=None)
df_sur = pd.concat(df_sur,ignore_index=True)

with open('ventas_este.json', 'r', encoding='utf-8') as f:
    datos_crudos = json.load(f)

df_este = pd.json_normalize(datos_crudos)

In [56]:
nombres_estandar = {
    'Fecha_Venta': 'fecha',
    'Nom_Producto': 'producto',
    'Cantidad_Vendida': 'cantidad',
    'Precio_Unit': 'precio_unitario'
}

df_norte = df_norte.rename(columns=nombres_estandar)
df_norte['region'] = 'Norte'
df_norte

    ID_Transaccion       fecha producto  cantidad  precio_unitario region
0             1000  2023-02-21   Laptop         4              423  Norte
1             1001  2023-01-15   Laptop         2              171  Norte
2             1002  2023-03-13   Laptop         3               73  Norte
3             1003  2023-03-02  Teclado         1              139  Norte
4             1004  2023-01-21  Monitor         4              692  Norte
..             ...         ...      ...       ...              ...    ...
95            1095  2023-02-10   Laptop         3              516  Norte
96            1096  2023-01-29  Monitor         3              321  Norte
97            1097  2023-01-15   Laptop         4              200  Norte
98            1098  2023-02-14    Mouse         4              626  Norte
99            1099  2023-03-06    Mouse         3              118  Norte

[100 rows x 6 columns]

In [57]:
mapping_sur = {
    'Date': 'fecha',
    'Item': 'producto',
    'Qty': 'cantidad',
    'UnitPrice': 'precio_unitario'
}

df_sur = df_sur.rename(columns=mapping_sur)
df_sur['region'] = 'Sur'

columnas_finales = ['fecha', 'producto', 'cantidad', 'precio_unitario', 'region']
df_sur = df_sur[columnas_finales]

df_sur

         fecha producto  cantidad  precio_unitario region
0   2023-03-01  Monitor         6              624    Sur
1   2023-03-04   Laptop         7              941    Sur
2   2023-03-26    Mouse         3              989    Sur
3   2023-02-01   Webcam         3              621    Sur
4   2023-03-28    Mouse         5              437    Sur
..         ...      ...       ...              ...    ...
145 2023-03-25    Mouse         5              192    Sur
146 2023-03-29  Teclado         9              319    Sur
147 2023-03-10   Laptop         1              664    Sur
148 2023-02-03   Laptop         5              345    Sur
149 2023-01-06  Monitor         6              429    Sur

[150 rows x 5 columns]

In [58]:
df_este = df_este.rename(columns={
    'timestamp': 'fecha',
    'detalles_producto.nombre': 'producto',
    'detalles_producto.specs.cantidad': 'cantidad',
    'detalles_producto.specs.precio': 'precio_unitario'
})

df_este['region'] = 'Este'
df_este = df_este[['fecha', 'producto', 'cantidad', 'precio_unitario', 'region']]

df_este

                  fecha producto  cantidad  precio_unitario region
0   2023-03-09 00:00:00  Monitor         2              244   Este
1   2023-01-20 00:00:00   Laptop         2              578   Este
2   2023-01-01 00:00:00    Mouse         2              339   Este
3   2023-02-07 00:00:00   Webcam         2              158   Este
4   2023-03-18 00:00:00  Monitor         1              692   Este
..                  ...      ...       ...              ...    ...
95  2023-03-28 00:00:00   Webcam         1              857   Este
96  2023-01-18 00:00:00   Webcam         2              375   Este
97  2023-02-10 00:00:00    Mouse         1              696   Este
98  2023-01-25 00:00:00    Mouse         2              618   Este
99  2023-03-27 00:00:00   Webcam         1              844   Este

[100 rows x 5 columns]

In [ ]:
df_total = pd.concat([df_norte,df_este,df_sur],ignore_index=True)

In [64]:
df_total.to_csv("ventas_consolidadas_2023.csv", sep=",", encoding="utf-8", index=False)